/*
Style sheet for personal site
*/

/******************************
*******************************
Colors:
#0b8b87 - some green color
#155084
#2e5a88
tomato - orange/red like a tomato
*******************************
*******************************/
body
{
	background-color: #333333;
}

.profile 
{
	image-orientation: from-image;
}

.profile_img 
{
      height: 240px;
      width: 240px;
}
  
.jumbotron 
{
	/*margin-bottom: 0px;*/
	background: transparent;
	background-color: #0b8b87;
	color: #ffffff;
	height: 100px;
	border-radius: 0px;
}

.active a 
{
	color: red !important;
}

a:hover 
{
	color: green;
}

h6, h5, p 
{
	color: white;	
}
